body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #2c2727;
}
.quem-somos{
    background-color: #D8D8D8;
    
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: white;
}
.servico{
    background-color:#D8D8D8;
}

.bg-footer{
background-color: black;
color: blanchedalmond;
}